@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap");

:root {
  --primary-color: #20a679;
  --secondary-color: #028703;
  --highlight-color: #0052b6;
  --highlight-dark-color: #004599;
  --bg-primary-color: #ffffff;
  --bg-secondary-color: #dadce0;
  --bg-dark-color: #888790;
  --bg-light-color: #f5f5f5;
}

.flex {
  display: flex;
  flex-direction: row;
}

.flex-rev {
  display: flex;
  flex-direction: row-reverse;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col-rev {
  display: flex;
  flex-direction: column-reverse;
}

.flex-space {
  justify-content: space-between;
}

.self-align-end[data-no-i-margin] {
  align-self: flex-end;
  margin-left: auto;
  margin-right: 0;
}

.align-ctr {
  align-items: center;
}

.just-ctr {
  justify-content: center;
}

.relative {
  position: relative;
}

html,
body,
.full-size {
  font-family: "Noto Sans TC", sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

*[data-hidden] {
  display: none;
}

/* font styling */

.bold {
  font-weight: 700;
  color: black;
}

.right-text {
  text-align: right;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.hover-no-decor:hover {
  text-decoration: none;
}

.warning-text,
.error-text {
  color: red;
}

[data-use-fa-font] {
  font: var(--fa-font-solid);
  font-weight: 900;
}

[data-use-fa-font] [data-fa-font-exclusion] {
  font-family: "Noto Sans TC";
  font-weight: normal;
}

/* fa container */

.i-container {
  margin: auto 1em;
}

@media screen and (min-width: 749px) {
  .i-container:not(.flex-col > *):not([data-no-i-margin]) {
    margin-left: 0;
  }
}

@media screen and (max-width: 748px) {
  .i-container[data-m-no-left-m] {
    margin-left: 0;
  }

  .i-container[data-m-no-right-m] {
    margin-right: 0;
  }

  .i-container[data-m-no-m] {
    margin: 0;
  }
}

/* buttons */

button {
  border: none;
  background-color: transparent;
}

.highlight-btn {
  background-color: var(--highlight-color);
  color: white;
  margin: 0 2em;
  padding: 0.5em 0.75em;
  height: 2.5em;
  border-radius: 0.75em;
}

.highlight-btn:hover {
  text-decoration: 0;
  background-color: var(--highlight-dark-color);
}

.dark-hover:not(.sp-radius):hover {
  background-color: var(--bg-secondary-color);
  border-radius: 0.5em;
}

.button-style1 {
  height: 100%;
  border-radius: 0.6em;
  background: white;
  border: none;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.button-style2 {
  height: 2em;
  width: fit-content;
  padding: 0.25em 0.5em;
  border-radius: 0.8em;
  border: var(--bg-dark-color) solid 1px;
  background: var(--bg-light-color);
}

/* sidebar */

#main-sidebar {
  border-right: var(--bg-secondary-color) 1px solid;
  flex: 0 0 50px;
}

@media screen and (max-width: 748px), screen and (orientation: portrait) {
  #main-sidebar {
    border-right: none;
    border-bottom: var(--bg-secondary-color) 1px solid;
  }
}

@media screen and (min-width: 1400px) {
  #main-sidebar {
    flex: 0 0 60px;
  }
}

.nav-btn,
.site-main-btn {
  width: 2.2em;
  height: 2.2em;
  margin: 0.4em;
  border-radius: 0.6em;
  background: white;
  border: none;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.nav-btn:not([no-hover-fx]):hover,
.site-logo:not([no-hover-fx]):hover,
.site-main-btn:not([no-hover-fx]):hover {
  text-decoration: none;
  background-color: var(--bg-secondary-color);
}

.nav-btn i {
  border: none;
}

.site-logo {
  padding: 0.4em;
}

.site-logo img {
  width: 100%;
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

.nav-btn.active-page {
  background-color: var(--primary-color);
  color: var(--bg-primary-color);
}

/* selection menus */

select,
input {
  border: none;
  background-color: var(--bg-primary-color);
}

select:focus-visible,
select:focus,
input:focus-visible,
input:focus {
  outline: none;
}

/* dividers */

.vl {
  border-left: 1px solid var(--bg-secondary-color);
  height: 80%;
  margin: auto 1em;
}

hr.divider {
  margin: 0 1em;
  border-color: var(--bg-secondary-color);
}

hr.divider[data-no-margin] {
  margin: 0;
}

/* Secondary Sidebar */

/* sidebar */

#sec-sidebar {
  border-right: var(--bg-secondary-color) 1px solid;
  height: 100%;
  overflow-y: auto;
  align-items: center;
  z-index: 5;
}

@media screen and (min-width: 749px) {
  #sec-sidebar {
    background-color: var(--bg-light-color);
    flex: 0 0 175px;
  }

  .sec-sidebar-item {
    width: 150px;
  }

  .sec-sidebar-nav {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 1024px) {
  #sec-sidebar {
    flex: 0 0 225px;
  }

  .sec-sidebar-item {
    width: 200px;
  }
}

#sec-sidebar-header {
  padding: 0 1em;
}

.sec-sidebar-item {
  margin: 1.2em 0;
  display: flex;
}

.sec-sidebar-item.active-inbox-section,
.sec-sidebar-item.active-sec-sidebar-item {
  color: var(--highlight-color);
  font-weight: 700;
}

.sec-sidebar-divider {
  margin: 0;
  width: calc(100% - 1em);
  border-color: var(--bg-secondary-color);
}

.sec-sidebar-nav {
  padding: 0.5em 0 0.5em 1.5em;
  margin: 0.3em 0;
  border-radius: 1em;
}

.sec-sidebar-nav:hover {
  background-color: var(--bg-secondary-color);
}

@media screen and (max-width: 748px) {
  #sec-sidebar {
    /* flex: 0 0 3em;
        max-width: 100px;
        transition: max-width 2s; */
    transition: width 2s ease-in-out, box-shadow 0.5s ease-in-out, transform 1s;
    position: fixed;
    max-width: 75vw;
    width: 300px;
    box-shadow: 2px 2px 10px 1px var(--bg-dark-color);
    background-color: var(--bg-primary-color);
  }

  #sec-sidebar:not([active]) {
    transform: translateX(-75vw);
    box-shadow: none;
  }

  #sec-sidebar .i-container {
    margin: auto 1em auto 0;
  }

  #sec-sidebar-header {
    padding-top: 0.5em;
    justify-content: center;
  }

  .sec-sidebar-item {
    width: 80%;
    margin: 0.6em 0;
  }

  .sec-sidebar-divider {
    margin: 0.5em 10px;
  }

  .sec-sidebar-nav {
    width: 80%;
  }

  #sec-sidebar > *:not(#sec-sidebar-header) {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
  }
}

.sec-sidebar-nav[data-sidebar-collapse] {
  margin-top: auto;
  margin-bottom: 0.3em;
}

/* contents */

#contents-container {
  flex-grow: 1;
  overflow-y: hidden;
}

.contents-parent {
  height: 100%;
  width: 100%;
}

/* tables */

.table {
  display: table;
  width: 80%;
  border-collapse: collapse;
}

.table > * {
  display: table-row;
  height: 2em;
}

.table .col {
  display: table-cell;
}

/* loader */

#loading-screen {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: var(--bg-primary-color);
}

.loader-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.loader-container[data-padding="true"] {
  padding-top: 1em;
  padding-bottom: 1em;
}

.loader-ring {
  display: inline-block;
  position: relative;
  width: 2.5em;
  height: 2.5em;
}

.loader-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 2em;
  height: 2em;
  margin: 0.25em;
  border: 0.25em solid var(--primary-color);
  border-radius: 50%;
  animation: loader-ring 1.2s cubic-bezier(0.5, 0, 0.2, 1) infinite;
  border-color: var(--primary-color) transparent transparent transparent;
}

.loader-ring div:nth-child(1) {
  animation-delay: -0.3s;
}

.loader-ring div:nth-child(2) {
  animation-delay: -0.2s;
}

.loader-ring div:nth-child(3) {
  animation-delay: -0.1s;
}

@keyframes loader-ring {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

.m-show {
  display: none;
}

.p-show {
  display: none;
}

@media screen and (orientation: portrait) {
  .p-flex-col {
    flex-direction: column;
  }

  .p-flex-col-rev {
    flex-direction: column-reverse;
  }

  .p-flex-row {
    flex-direction: row;
  }

  .p-flex-row-rev {
    flex-direction: row-reverse;
  }

  .p-hide {
    display: none;
  }

  .p-show {
    display: block;
  }
}

@media screen and (max-width: 748px) {
  .m-flex-col {
    flex-direction: column;
  }

  .m-flex-row {
    flex-direction: row;
  }

  .m-flex-col-rev {
    flex-direction: column-reverse;
  }

  .m-flex-row-rev {
    flex-direction: row-reverse;
  }

  .m-hide {
    display: none;
  }

  .m-show {
    display: block;
  }

  .m-border-top {
    border-top: 1px solid var(--bg-secondary-color);
  }
}

/* Workspace: Style1 (Deprecated) */

.workspace-style1.container {
  min-width: 0;
  width: 100%;
}

@media screen and (max-width: 748px) {
  .workspace-style1.container {
    min-width: 0;
    padding: 0;
  }

  .workspace-style1.contents {
    padding: 1em;
  }

  .workspace-style1 .shadow {
    display: none;
  }
}

.workspace-style1.buttons-row {
  margin: 0.5em 0;
  padding: 0 1em;
  width: 100%;
  overflow-x: auto;
  flex: 0 0 fit-content;
}

@media screen and (max-width: 748px) {
  .workspace-style1.buttons-row .i-container {
    margin: auto 4px;
  }

  .workspace-style1.buttons-row .i-container:first-child {
    margin: auto 4px auto 0;
  }

  .workspace-style1.buttons-row .i-container + .i-container {
    margin-left: -4px;
  }
}

.workspace-style1.header {
  flex: 0 0 2em;
  margin: 1em calc(1em - 8px) 0 calc(1em - 8px);
  border-bottom: var(--bg-secondary-color);
  box-shadow: 0 6px 8px -8px var(--bg-dark-color);
  padding: 1em;
  z-index: 1;
}

.workspace-style1.contents {
  flex: 2 0 calc(100vh - 10em);
  margin: 0 1em 1em 1em;
  padding: 1em 0 3em 0;
  color: black;
  overflow-y: auto;
}

.workspace-style1.contents img,
.workspace-style1.contents video,
.workspace-style1.contents image,
.workspace-style1.contents iframe {
  max-width: 100%;
  height: auto;
  object-fit: scale-down;
}

.workspace-style1.container .shadow {
  position: absolute;
  width: calc(100% - 6em);
  height: 10px;
  bottom: 1em;
  box-shadow: inset 0 -6px 8px -8px var(--bg-dark-color);
  z-index: 1;
}

.workspace-style1.attachment-outline {
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
}

.workspace-style1.attachment-name {
  line-height: 1.5em;
  border: 1px #606c71 solid;
  border-radius: 1.25em;
  padding: 0.15em 0.75em;
  width: fit-content;
  margin: 0.25em 0.25em;
  color: black;
  max-width: 49%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.workspace-style1.attachment-name i {
  margin: 0 0.3em 0 0;
}

.workspace-style1.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
}

.workspace-style1.button:hover {
  background-color: var(--bg-secondary-color);
  text-decoration: none;
}

.workspace-style1.list {
  flex: 0 1 100%;
  padding-bottom: 30vh;
}

/* Workspace: Style2 */

.workspace-style2.container {
  min-width: 0;
  width: 100%;
  padding: 2em;
}

@media screen and (max-width: 748px) {
  .workspace-style2.container {
    min-width: 0;
    padding: 1.5em 1em;
  }

  .workspace-style2 .shadow {
    display: none;
  }
}

.workspace-style2.search-bar {
  margin: 0 0 1em 0;
  width: 100%;
  align-items: center;
  flex: 0 0 2.5em;
  border: var(--bg-dark-color) solid 2px;
  border-radius: 1.25em;
  padding: 0.25em 0.5em 0.25em 0.25em;
}

.workspace-style2.search-bar * {
  background-color: transparent;
}

.workspace-style2.search-bar .search-bar-button {
  flex: 0 0 fit-content;
}

.workspace-style2.search-bar input[type="text"] {
  flex: 0 1 100%;
}

.workspace-style2.search-bar select {
  flex: 0 5 20%;
  border-radius: 1em;
  border: var(--bg-dark-color) solid 1px;
  background-color: var(--bg-light-color);
}

@media screen and (max-width: 748px) {
  .workspace-style2.search-bar {
    background-color: var(--bg-secondary-color);
    flex: 0 0 3rem;
    border-radius: 1.5rem;
    margin: 1.4em 0.7em 0.7em 0.7em;
    width: calc(100% - 1.4em);
  }
}

.workspace-style2.action-row {
  margin: 0.5em 0;
  width: 100%;
  overflow-x: auto;
  flex: 0 0 fit-content;
}

@media screen and (max-width: 748px) {
  .workspace-style2.action-row .i-container {
    margin: auto 4px;
  }

  .workspace-style2.action-row .i-container:first-child {
    margin: auto 4px auto 0;
  }

  .workspace-style2.action-row .i-container + .i-container {
    margin-left: -4px;
  }
}

.workspace-style2.header {
  flex: 0 0 2em;
  margin: 1em calc(1em - 8px) 0 calc(1em - 8px);
  border-bottom: var(--bg-secondary-color);
  box-shadow: 0 6px 8px -8px var(--bg-dark-color);
  padding: 1em;
  z-index: 1;
}

.workspace-style2.contents {
  flex: 2 0 calc(100vh - 10em);
  margin: 0 1em 1em 1em;
  padding: 1em 0 3em 0;
  color: black;
  overflow-y: auto;
}

.workspace-style2.contents img,
.workspace-style2.contents video,
.workspace-style2.contents image,
.workspace-style2.contents iframe {
  max-width: 100%;
  height: auto;
  object-fit: scale-down;
}

.workspace-style2.container .shadow {
  position: absolute;
  width: calc(100% - 6em);
  height: 10px;
  bottom: 1em;
  box-shadow: inset 0 -6px 8px -8px var(--bg-dark-color);
  z-index: 1;
}

.workspace-style2.attachment-outline {
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
}

.workspace-style2.attachment-name {
  line-height: 1.5em;
  border: 1px #606c71 solid;
  border-radius: 1.25em;
  padding: 0.15em 0.75em;
  width: fit-content;
  margin: 0.25em 0.25em;
  color: black;
  max-width: 49%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.workspace-style2.attachment-name i {
  margin: 0 0.3em 0 0;
}

.workspace-style2.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
}

.workspace-style2.button:hover {
  background-color: var(--bg-secondary-color);
  text-decoration: none;
}

.workspace-style2.list,
.workspace-style2.list-container {
  flex: 0 1 100%;
  padding-bottom: 30vh;
}

.workspace-style2.list-item-compact {
  display: flex;
  flex-direction: row;
  padding: 0.5em 0;
  position: relative;
  line-height: 2em;
}

.workspace-style2.list-item-compact > *:not(:last-child) {
  padding-right: 1em;
}

.workspace-style2.list-item-compact:not(:last-child)::after {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  content: "";
  display: block;
  height: 0px;
  border-bottom: var(--bg-dark-color) solid 1px;
  z-index: -1;
}

a.list-item-compact:hover {
  text-decoration: none;
  box-shadow: 2px 2px 4px 2px var(--bg-secondary-color);
}

.workspace-style2.list-item-compact * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}

.workspace-style2.list-item-author {
  flex: 0 0 23%;
}

.workspace-style2.list-item-title {
  flex: 1 0 0;
}

.workspace-style2.list-item-date {
  flex: 16;
}

@media screen and (max-width: 748px) {
  .workspace-style2.list-container .list-item-compact {
    flex-direction: column;
  }
}

/* Workspace: Style2 > Selection Menu */

/* The container must be positioned relative: */
.workspace-style2.select-menu-style1 {
  position: relative;
  flex: 1 0 fit-content;
  height: 100%;
}

.workspace-style2.select-menu-style1 select {
  display: none;
}

.workspace-style2.select-menu-style1 .select-selected {
  border-radius: 1em;
  border: var(--bg-dark-color) solid 1px;
  background-color: var(--bg-light-color);
  white-space: nowrap;
  overflow: hidden;
  padding-right: 19px;
  padding-left: 5px;
  padding-top: 0.375em;
  font-size: 1em;
  height: 100%;
}

.workspace-style2.select-menu-style1 .select-selected:after {
  position: absolute;
  content: "";
  top: calc(0.75em - 1px);
  right: 5px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: var(--bg-dark-color) transparent transparent transparent;
}

.workspace-style2.select-menu-style1
  .select-selected.select-arrow-active:after {
  border-color: transparent transparent var(--bg-dark-color) transparent;
  top: calc(0.75em - 8px);
}

.workspace-style2.select-menu-style1 .select-items div,
.workspace-style2.select-menu-style1 .select-selected {
  color: var(--bg-dark-color);
  cursor: pointer;
  white-space: nowrap;
}

.workspace-style2.select-menu-style1 .select-items div:not(:last-child) {
  border-bottom: 1px solid var(--bg-dark-color);
  padding-bottom: 0.3em;
}
.workspace-style2.select-menu-style1 .select-items div:not(:first-child) {
  padding-top: 0.3em;
}

.workspace-style2.select-menu-style1 .select-items {
  position: absolute;
  background-color: var(--bg-light-color);
  border: 1px solid var(--bg-dark-color);
  top: 140%;
  left: 0;
  right: 0;
  z-index: 99;
  width: fit-content;
  border-radius: 0.5em;
  padding: 0.5em;
  border-color: var(--bg-dark-color);
  box-shadow: 1px 1px 2px 1px var(--bg-secondary-color);
}

.workspace-style2.select-menu-style1 .select-hide {
  display: none;
}

.workspace-style2.select-menu-style1 .select-items div:hover {
  color: var(--primary-color);
}

.workspace-style2.select-menu-style1 .select-items span {
  padding-left: 0.3em;
}
