<div id="sec-sidebar" class="flex flex-col">
    <div id="sec-sidebar-header" class="sec-sidebar-item">
        <div class="i-container bold">
            <i class="fa-solid fa-school"></i>
        </div>
        <span class="m-hide">
            Administration
        </span>
    </div>
    <hr class="sec-sidebar-divider">
    <a href="/projects/pycnext/admin/circulars" class="sec-sidebar-item sec-sidebar-nav hover-no-decor" data-sidebar-circulars>
        <div class="i-container i-margin">
            <i class="fa-solid fa-file-invoice"></i>
        </div>
        <span class="m-hide">
            Circulars
        </span>
    </a>
    <a href="/projects/pycnext/admin/timetable" class="sec-sidebar-item sec-sidebar-nav hover-no-decor"
    data-sidebar-timetable>
        <div class="i-container i-margin">
            <i class="fa-solid fa-calendar-days"></i>
        </div>
        <span class="m-hide">
            Timetable
        </span>
    </a>
</div>