<div id="sec-sidebar" class="flex flex-col">
    <div id="sec-sidebar-header" class="sec-sidebar-item">
        <div class="i-container bold">
            <i class="fa-solid fa-envelope"></i>
        </div>
        <span class="m-hide">
            Mailbox
        </span>
    </div>
    <hr class="sec-sidebar-divider">
    <a href="{{site.url}}/projects/pycnext/mail/compose" id="compose-btn"
        class="sec-sidebar-item highlight-btn flex align-ctr just-ctr">
        <div class="i-container i-margin">
            <i class="fa-solid fa-pen"></i>
        </div>
        <span class="m-hide">
            Compose
        </span>
    </a>
    <a href="#mailbox" id="inbox-sidebar-home" class="sec-sidebar-item sec-sidebar-nav hover-no-decor">
        <div class="i-container i-margin">
            <i class="fa-solid fa-inbox"></i>
        </div>
        <span class="m-hide">
            Inbox
        </span>
    </a>
    <a href="#important" id="inbox-sidebar-important" class="sec-sidebar-item sec-sidebar-nav hover-no-decor">
        <div class="i-container i-margin">
            <i class="fa-solid fa-star"></i>
        </div>
        <span class="m-hide">
            Important
        </span>
    </a>
    <a href="#sent" id="inbox-sidebar-sent" class="sec-sidebar-item sec-sidebar-nav hover-no-decor">
        <div class="i-container i-margin">
            <i class="fa-solid fa-envelope-circle-check"></i>
        </div>
        <span class="m-hide">
            Sent
        </span>
    </a>
</div>