<link rel="stylesheet" href="/assets/css/calculator.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/10.4.0/math.min.js"
  integrity="sha512-LZjS5wTUe/SnWUyydnf4voLKfyYDGVqbzdvu+EIQJmaODVUvLO2ha28RAh6KPSlPzdNoo1MFjA/jAAdfpBX4xg=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/calculator.js"></script>

<div class="calc-container">
  <div id="title-bar">
    <div class="spacing"></div>
    <div id="calc-title">
      <div class="calc-title-line">
        <div class="text">Kalculator</div>
      </div>
      <div class="calc-desc-line">
        <div class="text">Inspired by</div>
      </div>
      <div class="calc-desc-line">
        <div class="text">Casio fx-50FH II</div>
      </div>
    </div>
    <div class="double-spacing"></div>
    <div class="solar-thing"></div>
    <div class="spacing"></div>
  </div>
  <div id="title-tip" class="flex1">
    <div class="tip-primary">
      <span class="tip-box">&nbsp;&nbsp;</span>&nbsp;&nbsp;
      <span class="tip-box">&nbsp;&nbsp;</span>&nbsp;&nbsp;
      <span class="tip-box">&nbsp;&nbsp;</span>&nbsp;&nbsp;
      <span class="tip-box">&nbsp;&nbsp;</span>&nbsp;&nbsp;
      <span class="tip-box">&nbsp;&nbsp;</span>
      <span class="tip-box">&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;
      ONLINE CALCULATOR

    </div>
    <div class="tip-secondary">FOR FUN&nbsp;</div>
  </div>
  <div id="display-bar">
    <div id="tip-bar" class="on">
      <div class="empty flex3"></div>
      <div id="shifted" class="highlight-icon mode-disabled flex2">S</div>
      <div class="empty flex1"></div>
      <div id="alphaed" class="highlight-icon mode-disabled flex2">A</div>
      <div class="empty flex12"></div>
      <div class="empty flex12"></div>
      <div class="empty flex12"></div>
      <div class="empty flex12"></div>
    </div>
    <div id="display-top" class="on">888888888888</div>
    <div id="display-main" class="on">888888888.8</div>
  </div>
</div>
</div>