<script src="/assets/js/pycclient.js"></script>
<script src="/assets/js/pyc-home.js"></script>
<div id="inbox">
    <div id="inbox-menu">
        <form id="search-mail">
            <div id="search-outline">
                <select name="search-by" id="search-sel-menu">
                    <option value="sender">Sent by</option>
                    <option value="Subject">Subject has</option>
                    <option value="content">Content has</option>
                    <option value="useful">Useful</option>
                    <option value="attachment">Attachment name has</option>
                </select>
                <input type="text" id="search-input">
            </div>
            <button type="submit" id="search-submit"><i class="fa fa-search"></i></button>
        </form>
        <div id="mail-actions">
            <button class="mail-action-btn" id="filter"><i class="fa-solid fa-filter"></i></button>
            <button class="mail-action-btn" id="sort"><i class="fa-solid fa-arrow-down-wide-short"></i></button>

        </div>
    </div>
    <div id="mailbox-container">
    </div>
</div>