<script src="/assets/js/pycclient.js"></script>
<script src="/assets/js/pyc-message.js"></script>

<div id="mail-page-container">
    <div id="mail-page-actions">
        <a href="home" id="mail-page-back-to-top"><i class="fa-solid fa-angle-left"></i></a>
    </div>
    <hr>
    <div id="mail-page-header">
        <div id="mail-header-title-flexbox">
            <div id="mail-header-title">
            </div>
        </div>
        <div id="mail-header-desc-flexbox">
            <div id="mail-header-author"></div>
            <div id="mail-timestamp"></div>
        </div>
    </div>
    <hr>
    <div id="mail-full-content">
        <div class="loader-container">
            <div class="loader"></div>
        </div>
    </div>
</div>