<link rel="stylesheet" href="/assets/css/pycnext/admin.css">
<script src="https://documentcloud.adobe.com/view-sdk/main.js"></script>

<div class="flex contents-parent">

    {% include pycnext/sidebars/admin.html %}

    {% if site.url contains "localhost" %}
    <script>var ADOBE_S = "8758f23adb6c4ad193fa51232bb57f98"</script>
    {% else %}
    <script>var ADOBE_S = "e95da6beaba547269aefb35f949ff173"</script>
    {% endif %}


    <div id="circulars-list" class="flex flex-col list-container workspace-style2-container">
        <div class="loader-container" data-padding="true">
            <div class="loader"></div>
        </div>
    </div>
</div>

<script src="/assets/js/pycnext/admin/base.js"></script>
<script src="/assets/js/pycnext/admin/circulars.js"></script>