<link rel="stylesheet" href="/assets/css/pycnext/admin.css">
<script src="https://documentcloud.adobe.com/view-sdk/main.js"></script>

<div class="flex contents-parent">

    {% include pycnext/sidebars/admin.html %} {% if site.url contains "localhost" %}
    <script>
        var ADOBE_S = "8758f23adb6c4ad193fa51232bb57f98"
    </script>
    {% else %}
    <script>
        var ADOBE_S = "e95da6beaba547269aefb35f949ff173"
    </script>
    {% endif %}

    <div class="flex flex-col list-container workspace-style2 container">
        <div id="circular-buttons-row" class="workspace-style2 buttons-row flex">
            <div id="sort-btn" class="i-container dark-hover workspace-style2 button"><i class="fa-solid fa-arrow-down-wide-short"></i></div>
            <div id="filter-btn" class="i-container dark-hover workspace-style2 button"><i class="fa-solid fa-filter"></i></div>

            <div class="search-outline">
                <input form="search-form" placeholder="Search..." type="text" name="search-val" id="search-input">
                <button type="submit" class="i-container dark-hover" id="search-submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            <script>
                let param = new URL(document.location).searchParams;
                let id = param.get("id");
                if (/[0-9]{1,6}/.test(id)) {
                    $("#circular-buttons-row").remove()
                };
            </script>
        </div>
        <div id="circulars-list">
            <div class="loader-container" data-padding="true">
                <div class="loader-ring"><div data-loader-div1></div><div data-loader-div2></div><div data-loader-div3></div><div data-loader-div4></div></div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/pycnext/admin/base.js"></script>
<script src="/assets/js/pycnext/admin/circulars.js"></script>