<link rel="stylesheet" href="/assets/css/pycnext/inbox.css" />
<script src="/assets/js/pycnext/mail/inbox.js"></script>

<div id="inbox-parent" class="flex contents-parent">
    {% include pycnext/sidebars/mailbox.html %}

    <div class="flex-col workspace-style2 container">
        <div class="flex workspace-style2 search-bar">
            <button class="menu-toggler flex workspace-style2 button-style1 search-bar-button m-show p-show"
                data-m-no-left-m>
                <i class="fa-solid fa-bars"></i>
            </button>
            <form id="search-form"></form>
            <div class="workspace-style2 select-menu-style1" data-use-fa-font>
                <select form="search-form" name="search-by" id="search-options" data-use-fa-font>
                    <option value="author">&#xf007; <span data-fa-font-exclusion>Author</span></option>
                    <option value="subject" selected="selected">&#xf1dc; <span data-fa-font-exclusion>Subject</span>
                    </option>
                    <option value="content">&#xf550; <span data-fa-font-exclusion>Content</span></option>
                    <option value="file">&#xf15b; <span data-fa-font-exclusion>File name</span></option>
                </select>
            </div>
            <input form="search-form" placeholder="Search..." type="text" name="search-val" id="search-input" />
            <button type="submit" class="flex workspace-style2 button-style1 search-bar-button" id="search-submit"
                data-m-no-right-m>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="flex workspace-style2 action-row">
            <button id="filter-btn" class="i-container button-style2">
                <i class="fa-solid fa-filter"></i>
                Filters
                <i class="fa-solid fa-caret-down"></i>
            </button>
            <button id="refresh-btn" class="i-container button-style1 self-align-end" data-no-i-margin>
                <i class="fa-solid fa-rotate-right"></i>
            </button>
        </div>

        <div id="inbox" class="flex-col workspace-style2 list-container">

            <div class="loader-container" data-padding="true">
                <div class="loader-ring">
                    <div data-loader-div1></div>
                    <div data-loader-div2></div>
                    <div data-loader-div3></div>
                    <div data-loader-div4></div>
                </div>
            </div>

        </div>
    </div>
</div>

</div>