<link rel="stylesheet" href="/assets/css/pycnext/inbox.css">
<script src="/assets/js/pycnext/view-mail.js"></script>

<div id="inbox-parent" class="flex">

    {% include pycnext/sidebars/mailbox.html %}

    <div id="inbox-workspace-container">
        <div id="inbox-mail-container" class="flex flex-col workspace-style2 container">
            <div id="mail-page-actions" class="workspace-style2 buttons-row">
                <a href="{{site.url}}/projects/pycnext/mail/mailbox" class="mail-action-btn"><i
                        class="fa-solid fa-angle-left"></i></a>
            </div>
            <hr class="divider">
            <div id="mail-page-header" class="workspace-style2 header">
                <div id="mail-header-title-flexbox">
                    <div id="mail-header-title">
                    </div>
                </div>
                <div id="mail-header-desc-flexbox">
                    <div id="mail-header-author"></div>
                    <div id="mail-timestamp"></div>
                </div>
            </div>
            <div id="mail-full-content" class="workspace-style2 contents">
                <div class="loader-container">
                    <div class="loader-ring">
                        <div data-loader-div1></div>
                        <div data-loader-div2></div>
                        <div data-loader-div3></div>
                        <div data-loader-div4></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>