<link rel="stylesheet" href="/assets/css/pycnext/inbox.css">
<script src="/assets/js/pycnext/view-mail.js"></script>

<div id="inbox-parent" class="flex">

    {% include pycnext/inbox-sidebar.html %}

    <div id="inbox-workspace-container">
        <div id="inbox-mail-container" class="flex flex-col">
            <div id="mail-page-actions">
                <a href="{{site.url}}/projects/pycnext/mail/mailbox" class="mail-action-btn"><i
                        class="fa-solid fa-angle-left"></i></a>
            </div>
            <hr class="divider">
            <div id="mail-page-header">
                <div id="mail-header-title-flexbox">
                    <div id="mail-header-title">
                    </div>
                </div>
                <div id="mail-header-desc-flexbox">
                    <div id="mail-header-author"></div>
                    <div id="mail-timestamp"></div>
                </div>
            </div>
            <div id="mail-full-content">
                <div class="loader-container">
                    <div class="loader"></div>
                </div>
            </div>
        </div>
    </div>
</div>