<link rel="stylesheet" href="/assets/css/pycnext/inbox.css">
<script src="/assets/js/pycnext/view-mail.js"></script>

<div id="inbox-parent" class="flex">
    <div id="inbox-sidebar" class="flex flex-col">
        <div id="inbox-sidebar-header" class="inbox-sidebar-item">
            <div class="i-container bold">
                <i class="fa-solid fa-envelope"></i>
            </div>
            Mailbox
        </div>
        <hr class="inbox-sidebar-divider">
        <a href="{{site.url}}/projects/pycnext/mail/compose" id="compose-btn"
            class="inbox-sidebar-item highlight-btn flex align-ctr just-ctr">
            <div class="i-container i-margin">
                <i class="fa-solid fa-pen"></i>
            </div>
            Compose
        </a>
        <div id="inbox-sidebar-home" class="inbox-sidebar-item inbox-sidebar-nav">
            <div class="i-container i-margin">
                <i class="fa-solid fa-inbox"></i>
            </div>
            Inbox
        </div>
        <div id="inbox-sidebar-important" class="inbox-sidebar-item inbox-sidebar-nav">
            <div class="i-container i-margin">
                <i class="fa-solid fa-star"></i>
            </div>
            Important
        </div>
        <div id="inbox-sidebar-sent" class="inbox-sidebar-item inbox-sidebar-nav">
            <div class="i-container i-margin">
                <i class="fa-solid fa-envelope-circle-check"></i>
            </div>
            Sent
        </div>
    </div>

    <div id="inbox-workspace-container">
        <div id="inbox-mail-container" class="flex flex-col">
            <div id="mail-page-actions">
                <a href="{{site.url}}/projects/pycnext/mail/mailbox" class="mail-action-btn"><i
                        class="fa-solid fa-angle-left"></i></a>
            </div>
            <hr class="divider">
            <div id="mail-page-header">
                <div id="mail-header-title-flexbox">
                    <div id="mail-header-title">
                    </div>
                </div>
                <div id="mail-header-desc-flexbox">
                    <div id="mail-header-author"></div>
                    <div id="mail-timestamp"></div>
                </div>
            </div>
            <div id="mail-full-content">
                <div class="loader-container">
                    <div class="loader"></div>
                </div>
            </div>
        </div>
    </div>
</div>