<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8" />
    {% seo %}

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap"
      as="style"
      type="text/css"
      crossorigin
    />

    <link
      rel="shortcut icon"
      type="image/png"
      href="/assets/i/pycnext/favicon.png"
    />

    <!-- Fontawesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
    />

    <!-- Stylesheets -->
    <link
      rel="stylesheet"
      href="{{ '/assets/css/navbar.css?v=' | append: site.github.build_revision | relative_url }}"
      as="style"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/css/styles.css?v=' | append: site.github.build_revision | relative_url }}"
      as="style"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/css/pycnext/base.css?v=' | append: site.github.build_revision | relative_url }}"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"
    />

    <!-- w3.css -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />

    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#157878" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    {% include head-custom.html %}
  </head>

  <body>
    <div id="body-flexbox" class="flex full-size m-flex-col-rev p-flex-col">
      <div
        id="main-sidebar"
        class="flex flex-col flex-space m-flex-row p-flex-row m-border-top"
      >
        <div
          id="site-icon-container"
          class="flex flex-col align-ctr just-ctr m-flex-row p-flex-row"
        >
          <a
            id="site-main-ico"
            class="i-container nav-btn site-logo"
            no-hover-fx
          >
            <img src="/assets/i/pycnext/favicon.png" alt="PYCNext" />
          </a>
        </div>
        <div
          id="site-nav-container"
          class="flex flex-col align-ctr just-ctr m-flex-row p-flex-row"
        >
          <a
            href="/projects/pycnext/mail/mailbox"
            id="site-nav-mail"
            class="i-container nav-btn"
          >
            <i class="fa-solid fa-envelope"></i>
          </a>
          <a
            href="/projects/pycnext/admin/circulars"
            id="site-nav-admin"
            class="i-container nav-btn"
          >
            <i class="fa-solid fa-file-lines"></i>
          </a>
          <a id="site-nav-account" class="i-container nav-btn">
            <i class="fa-solid fa-user"></i>
          </a>
          <a id="site-nav-links" class="i-container nav-btn">
            <i class="fa-solid fa-link"></i>
          </a>
          <a id="site-nav-google-apps" class="i-container nav-btn">
            <i class="fa-brands fa-google"></i>
          </a>
        </div>
        <div
          id="site-main-btns-container"
          class="flex flex-col align-ctr just-ctr m-flex-row"
        >
          <a id=" site-settings-btn" class="i-container site-main-btn">
            <i class="fa-solid fa-gear"></i>
          </a>
        </div>
      </div>
      <div id="contents-container">
        <script src="{{ '/assets/js/pycnext/init.js?v=' | append: site.github.build_revision | relative_url }}"></script>
        <script src="{{ '/assets/js/pycnext/client.js?v=' | append: site.github.build_revision | relative_url }}"></script>
        {{ content }}
        <script src="{{ '/assets/js/pycnext/base.js?v=' | append: site.github.build_revision | relative_url }}"></script>
      </div>
    </div>
  </body>
</html>
