@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap");

html,
body {
  padding: 0;
  margin: 0;
}

#parent-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: darkslategray;
  background-image: url(https://kai9073.github.io/pr/assets/i/default-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: "Noto Sans TC", sans-serif;
  justify-content: center;
  justify-items: center;
}

#login-frame {
  padding: 5%;
  border-radius: 0.7rem;
  max-width: 90%;
  flex-direction: column-reverse;
}

#site-banner {
  padding: 0;
  margin: 0;
}

#site-title {
  margin: 0;
}

input[type="text"],
input[type="password"] {
  margin: 0 0 10px 0;
}

#login-form-container {
  margin: auto;
  width: 100%;
}

#large-disclaimer {
  display: none;
}
#disclaimer-toggle {
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: underline;
}
#small-disclaimer {
  display: none;
  width: 100%;
  text-align: center;
  font-size: 0.6em;
}

@media only screen and (min-height: 35em) {
  #login-frame {
    max-width: 80%;
  }

  #small-disclaimer {
    display: block;
  }
  #alt-disclaimer {
    display: none;
  }
  #disclaimer-toggle {
    display: none;
  }
}

@media only screen and (max-width: 767px) and (max-height: 80vw) {
  body {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 767px) and (max-height: 60vw) {
  body {
    font-size: 12px !important;
  }
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
  #parent-container {
    padding: 0 8%;
  }

  #login-frame {
    padding: 1em 1.3em 1em 2em;
    border-radius: 0.7rem;
    width: 100%;
    height: fit-content;
    margin-top: auto 0;
    flex-direction: row;
  }

  #site-title {
    margin: 0 0 0.5em 0;
  }

  input[type="text"],
  input[type="password"] {
    margin: 1em 0;
  }

  #login-form-container {
    margin: auto 1em auto auto;
  }

  #site-banner {
    padding: 0em 1em;
  }

  #large-disclaimer {
    display: block;
  }
  #small-disclaimer {
    display: none;
  }
  #alt-disclaimer {
    display: none;
  }
  #disclaimer-toggle {
    display: none;
  }
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
  #login-frame {
    padding: 1em 1.3em 1em 2em;
    border-radius: 0.7rem;
    width: 60%;
    flex-direction: row;
  }

  #site-title {
    margin: 0 0 0.5em 0;
  }

  input[type="text"],
  input[type="password"] {
    margin: 1em 0;
  }

  #login-form-container {
    margin: auto 1em auto auto;
  }

  #site-banner {
    padding: 0em 1em;
  }

  #large-disclaimer {
    display: block;
  }
  #small-disclaimer {
    display: none;
  }
  #alt-disclaimer {
    display: none;
  }
  #disclaimer-toggle {
    display: none;
  }
}
@media only screen and (min-width: 1024px) and (orientation: landscape) {
  #login-frame {
    width: 50%;
  }
}
@media only screen and (min-width: 1200px) and (orientation: landscape) {
  #login-frame {
    width: 40%;
  }
}

#login-frame {
  display: flex;
  background-color: white;
  border: 1px black solid;
  height: fit-content;
  margin: auto;
  box-shadow: 0.1em 0.1em 0.2em black;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 0.8em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 1em;
  font-family: sans-serif;
}

#login-frame button {
  background-color: #04aa6d;
  color: white;
  padding: 0.6em 0.4em;
  margin: 1.4em 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 1em;
}

#login-frame button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

#login-form-container {
  flex: 3;
  display: flex;
  flex-direction: column;
}

#site-banner {
  flex: 4;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  justify-items: center;
}

#site-title {
  text-align: center;
  font-size: 3em;
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 4px 3px 2px darkgreen;
  font-weight: 700;
}

#site-slogan {
  font-style: italic;
  font-weight: 600;
  margin-bottom: 1.5em;
}

#privacy-policy {
  margin-bottom: 0.8em;
}

#disclaimer {
  font-size: 0.8em;
}

.loader-container {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.loader {
  border: 0.3em solid #f3f3f3;
  border-radius: 50%;
  border-top: 0.3em solid #606c71;
  width: 2em;
  height: 2em;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
