#navMain {
  height: 100%;
  flex-grow: 1;
  align-items: center;
  align-content: center;
  display: flex;
  padding: 0 1rem;
}

#navMainTxt {
  padding: 0;
  font-size: 0.5em;
  font-weight: 500;
  color: #45b07b;
  text-shadow: rgb(43, 51, 43) 1px 1px 1px;
  line-height: 1;
}

#pycnext-info {
  flex-grow: 1;
  display: flex;
  align-items: center;
  align-content: center;
  height: 100%;
}

#pycnext-info * {
  margin: auto unset;
  padding-right: 1em;
  font-size: 0.35em;
}

#welcome-string {
  margin-left: auto;
}

#navMain {
  flex: 1;
}

#inbox-menu {
  display: flex;
  margin-bottom: 1em;
}

#search-mail {
  flex: 6;
  display: flex;
}

#search-outline {
  flex-grow: 1;
  border-radius: 0.5em;
  border: 1px black solid;
  display: flex;
  padding: 0.3em;
}

#search-sel-menu {
  border: 1px transparent solid;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.4em;
  margin-right: 0.5em;
  color: black;
}

#search-input {
  flex: 10;
  border: 1px transparent solid;
}

#search-submit {
  width: 2em;
  height: 2em;
  background-color: transparent;
  border: none;
}

#mail-actions {
  flex: 4;
  display: flex;
  flex-direction: row-reverse;
}

.mail-action-btn {
  height: 2em;
  width: 2em;
  background-color: transparent;
  border: 1px black solid;
  border-radius: 0.5em;
  margin: auto 0.3em;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  color: #606c71;
}

.mail-action-btn i {
  flex-grow: 1;
  max-width: 1em;
  height: 1em;
}

.mail-action-btn:hover {
  text-decoration: none;
}

.mail-action-btn:not(.primary-btn):hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.primary-btn:hover {
  background-color: #4356c1;
}

.primary-btn {
  border-color: darkblue;
  background-color: #536dfe;
  color: white;
}

#mailbox-container {
  display: flex;
  flex-direction: column;
}

.mail-container {
  border-bottom: 1px black solid;
  padding: 0.6em 0.3em;
  display: flex;
}

.mail-title,
.mail-author,
.mail-timestamp,
.mail-container,
.mail-title:hover,
.mail-author:hover,
.mail-timestamp:hover,
.mail-container:hover {
  text-decoration: none;
}
.mail-author,
.mail-timestamp {
  color: #606c71;
}

.mail-timestamp {
  display: flex;
  justify-items: right;
}

.mail-timestamp span.mail-date {
  margin-left: auto;
}

.mail-container:hover span.mail-year {
  display: none;
}

.mail-container:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.mail-author {
  text-align: center;
  flex: 3;
}

.mail-title {
  color: black;
  text-align: left;
  flex: 6;
}

.mail-timestamp {
  text-align: right;
  flex: 2;
}

.mail-container div {
  padding: 0 0.6em;
}

/* message page */

#mail-page-container {
  display: flex;
  flex-direction: column;
}

#mail-page-actions {
  height: 2em;
  padding: 0.25em;
  display: flex;
  flex-direction: row;
}

#mail-page-actions a {
  background-color: transparent;
  border: none;
  border-radius: 1em;
  height: 2em;
  width: 2em;
  padding: 0.25em;
  color: #606c71;
  text-decoration: none;
  display: flex;
  align-items: center;
  align-content: center;
}

#mail-page-actions a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#mail-page-actions a i {
  margin: auto;
}

#mail-page-header {
  padding: 0.25em;
  display: flex;
  flex-direction: column;
}

#mail-header-title-flexbox,
#mail-header-desc-flexbox {
  display: flex;
  flex-direction: row;
}

#mail-attachments-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
}

.message-attachment {
  line-height: 1.5em;
  border: 1px #606c71 solid;
  border-radius: 1.25em;
  padding: 0.15em 0.75em;
  width: fit-content;
  margin: 0.25em 0.25em;
  color: black;
  max-width: 49%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.message-attachment i {
  margin: 0 0.3em 0 0;
}

#mail-header-title {
  font-size: 1.5em;
  color: black;
}

#mail-header-author {
  flex: 1;
  text-align: left;
}

#mail-timestamp {
  flex: 1;
  text-align: right;
}

#mail-full-content {
  padding: 0.25em;
  color: black;
}

#content-parent {
  flex: 5;
  margin: 0 2rem 1em 0;
}

#sidebar {
  flex: 1;
  border-right: 1px black solid;
  margin: 0 2rem 0 1rem;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  #sidebar {
    display: none;
  }

  #parent {
    margin: 0;
  }

  #inbox {
    width: 100%;
  }

  #search-mail {
    align-items: center;
    flex: none;
    flex-grow: 1;
  }

  #search-outline {
    flex-direction: column;
  }

  #mail-actions {
    flex: none;
    border-left: 1px solid black;
    padding: 0;
    width: fit-content;
    flex-direction: column;
  }

  .mail-action-btn {
    border: none;
  }
}

#page-container {
  width: 100%;
  margin: 0;
  padding: 2rem;
}

#page-contents {
  display: flex;
  width: 100%;
  min-height: 80vh;
}

.sidebar-item {
  line-height: 2em;
  border-radius: 0.7em;
  margin: 0.2rem 0;
  padding: 0.1rem 0rem 0.1rem 0.8rem;
  cursor: pointer;
  user-select: none;
  color: #606c71;
}

.sidebar-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.sidebar-item.active-page {
  color: #159957;
  font-weight: 700;
}

.mail-actions {
  display: flex;
  align-items: center;
}

.message-btn {
  margin: auto 0.2rem;
  background-color: transparent;
  border: 1px black solid;
  border-radius: 0.3em;
  height: 2em;
  width: 2em;
}

.mail-actions {
  display: none;
}

.message-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.mail-container:hover .mail-actions {
  display: block;
}

.message-favourite-btn.fav-disabled {
  color: #606c71;
}

.message-favourite-btn.fav-enabled {
  color: #ffea00;
}

.message-delete-btn {
  color: #dd001b;
}

.loader-container {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.loader-container[data-padding="true"] {
  padding-top: 1em;
  padding-bottom: 1em;
}

.loader {
  border: 0.3em solid #f3f3f3;
  border-radius: 50%;
  border-top: 0.3em solid #606c71;
  width: 2em;
  height: 2em;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.alert-box {
  position: fixed;
  border: 1px crimson solid;
  border-radius: 0.1rem;
  background-color: #e37582;
  color: black;
}

#compose-mail-container {
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  border: 1px #606c71 solid;
  padding: 0.5em 1.5em;
}

#compose-page-back-to-top {
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  color: #606c71;
}

#compose-page-back-to-top:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
}

#header-text {
  font-weight: 700;
  text-align: center;
  flex-grow: 1;
  padding-right: 2em;
}

.compose-mail-row {
  border-bottom: 1px #606c71 solid;
  padding: 0.5em 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#mail-editor-container {
  padding: 1em 0;
}

.mail-options-input {
  border: 0;
  flex-grow: 1;
}

.mail-options-input:focus {
  outline: none;
  border: 0;
}

.mail-options-label {
  color: black;
  margin-right: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.8em;
  width: 1.8em;
  left: 0.1em;
  bottom: 0.1em;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.5em);
  -ms-transform: translateX(1.5em);
  transform: translateX(1.5em);
}

/* Rounded sliders */
.slider.round {
  border-radius: 1em;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-container {
  font-size: 70%;
  margin-right: 0.5em;
}

.compose-mail-row:last-of-type {
  border-bottom: 0;
}

#send-mail-btn {
  height: 2em;
  border-radius: 0.7em;
  background-color: #2196f3;
  border: 2px #536dfe solid;
  color: white;
  padding: 0 0.7em;
  margin-left: auto;
}

#send-mail-btn i {
  margin-left: 0.5em;
}

#user-suggestions {
  position: absolute;
  flex-direction: column;
  z-index: 2;
  border-radius: 0 0 1em 1em;
  border: 2px solid #eee;
  background-color: white;
  box-shadow: 1px 1px 8px #ddd;
  width: 100%;
  padding: 0.4em;
  max-height: 20em;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
}

#recipients-input:focus + #user-suggestions {
  display: flex;
}

#recipients-relative {
  position: relative;
  flex-grow: 1;
}

#recipients-input {
  width: 100%;
}

#user-suggestions div:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#version-name {
  font-size: 0.3em;
  margin-left: 0.6em;
  font-style: italic;
  margin-top: 0.4em;
}
